[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
h5py = "*"
pygame = "*"
tqdm = "*"
tornado = "*"
ipdb = "*"
gymnasium = "*"
moviepy = "*"
nvidia-pyindex = "*"
nvidia-tensorrt = "==8.4.1.5"
tf-nightly = "==2.12.0.dev20221202"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
